
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
    margin: 20px;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input, .btn{
  padding: 15px;
  margin: 10px;
}

.button{
  width: 60px;
  height: 30px;
  font-weight: bolder;
  background-color: green;
  color: white;
  border: green solid 2px;
  margin-left: 5px;
}

.button:hover{
  background-color:#6b965e ;
  cursor: pointer;
}

.btn{
  width: 210px;
  padding: 10px;
  font-size: larger;
  padding: inherit;
}

.main-div{
  display:flex;
  gap: 10px;
  text-align: center
}
