<h1>{{title}}</h1>
<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h2>Manage Students List</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Id Number</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th></th>
  </tr>

  <tr *ngFor="let s of students">
    <td>{{s.id}}</td>
    <td>{{s.idNumber}}</td>
    <td>{{s.firstName}}</td>
    <td>{{s.lastName}}</td>
    <td>{{s.email}}</td>
    <td>{{s.phoneNumber}}</td>
    <td>
      <span>
        <button class="button" (click)="deleteStudentById(s.id)">Delete</button>
        <button class="button" (click)="populateStudent(s)">Edit</button>

      </span>
    </td>
  </tr>
</table>

<div class="main-div">
<div style="">
<h1>Create Student</h1>
  <form>
    <input placeholder="Id Number" name="idNumber" [(ngModel)]="idNumber"><br>
    <input placeholder="First Name" name="firstName" [(ngModel)]="firstName"><br>
    <input placeholder="Last Name" name="lastName" [(ngModel)]="lastName"><br>
    <input placeholder="Email" name="email" [(ngModel)]="email"><br>
    <input placeholder="Phone Number" name="phoneNumber" [(ngModel)]="phoneNumber"><br>
    <button (click)="createStudent()" class="button btn">Submit </button>
  </form>
</div>

<div style="">
<h1>Update Student</h1>
  <form>
    <input placeholder="Id Number" name="idNumber" [(ngModel)]="idNumber"><br>
    <input placeholder="First Name" name="firstName" [(ngModel)]="firstName"><br>
    <input placeholder="Last Name" name="lastName" [(ngModel)]="lastName"><br>
    <input placeholder="Email" name="email" [(ngModel)]="email"><br>
    <input placeholder="Phone Number" name="phoneNumber" [(ngModel)]="phoneNumber"><br>
    <button (click)="updateStudent()" class="button btn">Submit </button>
  </form>
</div>
</div>
</body>
</html>


<router-outlet></router-outlet>
